<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- 
This web.xml is not necessary for servlet containers which 
are complaint with Servlet >= 3.0 
-->
<web-app>
	<display-name>PostNoteDemo</display-name>
	<description>PostNoteDemo</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/*-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>logDir</param-name>
		<param-value>${catalina.base}</param-value>
	</context-param>

	<servlet>
		<servlet-name>PostNoteServlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/PostNoteServlet-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostNoteServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>